body {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: small;
background: #fff;
height: 100%; margin: 0; padding: 0;
}

html
{
	height: 100% ;
}

.map {
width: 100%;
height: 100%;
 margin: 0;
 padding: 0;
 border: none;
}

.shadow
{
	width:300px;
	height:500px;
	background-color:#F2F2F2;
	box-shadow: 10px 10px 5px #888888;
}
